.progress {
  position: relative;
  margin-bottom: 0 !important;
}

.progress span {
  position: absolute;
  display: block;
  width: 100%;
  color: silver;
  text-shadow: 1px 1px 1px black;
}

.blink {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.dataTables_scrollBody {
  background: none !important;
}
